<html>
    <head>
        <title>Послание для Павла</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Послание...</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Мое первое Послание...</a></h2>
            <p>Павел, вы мужеложец!</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Daria, you are wife of muzhelojets...</p>
        </div>
    </body>
</html>